*~
\#*#
.#*
.DS_Store
*.pyc
.tramp_history
.cache
pynitf.egg-info
doc/_build
.eggs
.pytest_cache
basic*.ntf
build
dist

# pixi environments
.pixi
# Don't check in pixi.lock. We just use this for development, and
# when we recreate we always want to use the latest of everything
pixi.lock
pixi.toml